{% extends "base.html" %}

{% block content %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.isbn.label }}
            {{ form.isbn }}
            {% for error in form.isbn.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.title.label }}
            {{ form.title(size=500) }}
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.author.label }}
            {{ form.author }}
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.summary.label }}
            {{ form.summary }}
            {% for error in form.summary.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}